body{
    /* Important is used to override bootstrap font family class */
    font-family: 'Montserrat', sans-serif !important;
    color: #333 !important;
    font-size: small;
}

.jumbotron{
    background-color: inherit;
}

.branding img{
    height: 43px;
    margin-top: -10px;
}

.branding a{
    font-size:27px;
    font-weight: bold;
    padding-left: 10px;
}

.links-holder{
    justify-content: right;
}

.navbar-nav{
    width: 23rem;
    justify-self: flex-end;
    justify-content: space-between;
}


.nav-item a{
    color:gray !important;
    font-weight:600;
}

.signin-image{
    height:390px;
    border:25px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

.display-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-orange{
    background-color: #E4866A;
}

.btn-orange:hover{
    background-color: coral;
}

.btn-orange-outline{
    border:1px solid #E4866A;
}

.btn-orange-outline:hover{
    background-color: coral;
    color:white;
}

input:focus{
    outline-offset: 0px;
    outline: none;
}

/* Google Wala Green : #01796b */
/* Khidki Wala Green : #7DCCAB*/
/* Surrounding orange :#E4866A */

/* ========= Index.html : CSS==========  */
.home-wrap{
    background-color: #313030;
}
.g-top{
    height: 89vh;
    position: relative;
}
.video-wrap{
    height: 600px;
}
.video-wrap>*{
    flex:1 1 250px;
    border:1px solid white; 
}
.g-top-left{
    position: absolute;
    right:0;
    height:8vh;
    top:0;
    border-bottom-left-radius: 10px;
}
.top-left-participant-wrap{
    position: relative;
}
.cursor-pointer{
    padding: 5px;
}
.cursor-pointer:hover{
    cursor: pointer;
    padding:5px;
    background-color: rgb(226,225,225);
    border-radius:5px;
}
.top-left-participant-count{
    position: absolute;
    top:-2px;
    right:-3px;
    font-size: 15px;
}

.g-bottom{
    /* margin:0 -10px !important; */
    padding:0 20px;
    box-shadow: 0 0 5px black;
    z-index: 2;
}
.bottom-left{
    position: relative;
    padding: 5px;
}
.action-icon-style{
    font-size:8px !important;
    height:40px;
    width:40px;
    border:1px solid lightgray;
    border-radius: 50%;
}
